.tasks {
  justify-content: center;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 250px));
  margin: 5%;
 
  &__advise {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top:40%;
    margin: 0 auto;
    text-align: center;
    text-shadow: 2px 5px 5px $textShadow;
    color: $gray;
    font-weight: bold;

    @media #{$mobile-l} {
    @include text-settings('s');
    }
    @media #{$tablet} {
    @include text-settings('m');
    }

    &--button {
      height: 40px;
      width: 40px;
      border-radius: 100%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-size: 28px;
      background-color: $red;
      color: $white;
    }
  }

  &__minitask {
    width:100px;
    height: 100px;
    border-radius: 22px;
    box-shadow: 10px 10px 15px $boxShadow;
    overflow: hidden;
    margin: 0;
    margin-top: 2%;
    justify-self: center;

    &--high ,&--low ,&--normal{
      height: 40%;
      color: $white;
      text-align: center;
      font-size: 22px;
    }
    &--high {
      background-color: $red;
    }
    &--low {
      background-color: $blue;
    }
    &--normal {
      background-color: $yellow;
    }
    &--month {
      text-overflow: ellipsis;
      overflow: hidden;
      padding: 10px;
    }
    &--day {
      font-size: 33px;
      text-align: center;
      height: 100px;
      margin-top: 10%;
    }
  }
}
